langchain-core
langchain
langchain-community
openai
langchain-groq
streamlit
python-dotenv
SQLAlchemy
psycopg2-binary
langserve
fastapi
uvicorn
sse_starlette
streamlit_chat
python-jose
passlib
argon2_cffi
twilio
spacy
asyncpg
one_msg_waba_sdk
gunicorn
